*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(77, 81, 81);
    font-size: 14px;
    line-height: 20px;
    width: 800px;
    margin: 50px auto;
}

.Resume{
    margin: 30px;
    background-color: rgb(255, 255, 255);
}

.Resume .Top{
    margin: 0;
    padding: 0;
    background-color: rgb(2, 2, 115);
    display: flex;
    height: 180px;
}

.Resume .Top .Name{
    margin-top: 50px ;
    margin-left: 20px;
    color: rgb(249, 251, 253);
    font-size: 48px;
    font-weight: bold;
    text-align: justify;
    width: 55%;
    line-height: 40px;
}

.Resume .Top .Contact{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.Resume .Top .Contact .title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.Resume .Middle{
    background-color: rgb(255, 255, 255);
}

.Resume .Middle .body_title{
    margin: 10px;
    margin-left: 15px;
    padding: 5px;
    color: rgb(4, 4, 4);
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid rgb(4, 4, 4) ;
}

.Resume .Middle .body_details{
    margin: 10px;
    margin-left: 15px;
    padding: 5px;
}

.Resume .Middle .Skills .body_details{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.Resume .Middle .Experience .Job_description{
    margin-left: 30px;
}

.Resume .Middle .Certification{
    margin-bottom: 20px;
}

.Resume .Bottom{
    margin: 0;
    padding: 0;
    height: 25px;
    background-color: rgb(2, 2, 115);
}

